name: Trigger auto deployment for fast-api

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/fast-api-AutoDeployTrigger-d812468c-630d-4fa4-8bb7-566049d65835.yml'

  # Allow manual trigger 
  workflow_dispatch:
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.FASTAPI_AZURE_CREDENTIALS }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: gallemalleback.azurecr.io
          registryUsername: ${{ secrets.FASTAPI_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.FASTAPI_REGISTRY_PASSWORD }}
          containerAppName: fast-api
          resourceGroup: tres-bien
          imageToBuild: gallemalleback.azurecr.io/fast-api:${{ github.sha }}
          
            

     

